body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F9F9F9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  max-width: 1320px!important;
  margin: auto;
  padding: 30px!important;
}
.page-wrapper{
  gap: 25px;
}
body {
  background: #F9F9F9!important;
  font-family: 'Montserrat';
}
.list-wrapper{
  flex: 1;
}
.list-wrap{
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none!important;
  color: inherit!important;
}
.search-bar {
  position: relative;
  width: 100%;
  margin-left: 20%;
}
.search-bar-filter {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 44%;
  left: 10px; 
  transform: translateY(-50%);
  color: rgb(147, 147, 147);
}
.basket-wrapper , .filter-wrapper{
  display: flex;
}
.mobile-search{
  display: none;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #2A59FE; 
  border-radius: 4px; 
  outline: none;
  cursor: pointer;
}
input[type="checkbox"]:checked,input[type="radio"]:checked {
  background-color: #2A59FE;
  border-color: #2A59FE; 
}


input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #2A59FE; 
  border-radius: 10px; 
  outline: none;
  cursor: pointer;
}
 
@media screen and (max-width: 880px) {
  .header .search-bar{
  display: none;
  }
  .list-wrap{
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
 
  }
  .basket-wrapper{
    display: none;
  }
  .mobile-search{
    display: flex;
  }
  .page-wrapper{
    flex-direction: column;
  }
}